

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

header {
    background-color: #00003c;
    color: white;
    display: flex;
    align-items: center;
    height: 45px;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.logo {
font-size: 30px;
font-weight: 900;
padding: 20px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}

li {
    list-style: none;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#awesome {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    background-color: #00003c;
    color: white;
    gap: 20px;
}

#awesome .leftside {
    align-items: left;
}

#awesome .rightside {
    align-items: right;
}

#awesome .rightside img {
    max-width: 100%; 
    height: auto;
    width: 200px; 
    height: 200px; 
}

#random {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.random-title {
    font-weight: 900;

}

.image-blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.image-blocks .ib1,
.image-blocks .ib2,
.image-blocks .ib3,
.image-blocks .ib4 {
    flex: 1;
    min-width: 100px; /* Adjust as needed */
    text-align: center;
}

.image-blocks img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#quote {
    background-color: lightgray;
    color: black;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 5px;  
    padding-bottom: 5px;
}

.quote {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    font-size: large;
}

.author {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    text-align: right;
    font-size: medium;
    margin-top: 10px; 
    display: flex;
    justify-content: flex-end;
}

#marketing-section {
    background-color: white;
    padding: 40px 0;
    text-align: center;
}

.marketing-bar {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(3, 160, 222);
    color: white;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.marketing-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marketing-button button {
    background-color: rgb(0, 66, 90);
    color: white;
    padding: 10px 20px;
    border: 5px;
    border-color: white;
    border-radius: 15px;
    cursor: pointer;
    margin: 20px;
}

.marketing-button button:hover {
    background-color: rgb(159, 194, 229);
    color: black;
}

.marketing-bar-text-1 {
    font-weight: 900;
    font-size: large;
    text-align: left;
    margin: 0;
    padding: 0;
}

.marketing-bar-text-2 {
    margin:0;
    padding: 0;
}

footer {
    background-color: #00003c;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 45px;
}